stepfunction.txt
{
  "Comment": "Assignment",
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Comment": "Choice of ",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "SHA256"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "MD5"
        },
        {
          "Variable": "$.action",
          "StringEquals": "bcrypt",
          "Next": "BCRYPT"
        }
      ],
      "Default": "SHA256"
    },
    "SHA256": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:647868181491:function:SHA256",
      "ResultPath": "$.lambdaOutput",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:647868181491:function:Bcrypt:$LATEST",
        "Payload.$": "$"
      },
      "End": true
    },
    "MD5": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:647868181491:function:MD5",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:647868181491:function:MD5:$LATEST",
        "Payload.$": "$"
      },
      "End": true
    },
    "BCRYPT": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:647868181491:function:Bcrypt",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:647868181491:function:Bcrypt:$LATEST",
        "Payload.$": "$"
      },
      "End": true
    }
  }
}